<nav class="ui menu"> <!-- calss="ui menu" -->
  {{#each user.firstName}}
  <header class="ui header item"> WeatherTop V2 | Welcome: {{ firstName }} </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="edituser" class="item" href="/updateuser/{{userId}}"> User Settings </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/">  Log Out  </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
