<!-- temporary place for this heading advert -->
<p style="background-color:SlateBlue;">
<marquee behavior="scroll" direction="left"><font size="+1">Current weather in Ireland: {{irishweather}}
  Current time in Ireland: {{date}}
  </marquee>
  </p>
  <!-- End of temporary place for this heading advert -->