<!DOCTYPE html>
<html lang="en">
  <div class="header">
    
<!-- Start of heading advert -->
<marquee behavior="scroll" direction="left"><font size="+1"> | <a href="https://openweathermap.org/"> Current Weather and forecast</a>
   | <a href="http://www.timeanddate.com/worldclock/custom.html?cities=54,111,166,196,215,248"> Time in some selected cities</a> | 

  </marquee>
  <!-- End of heading advert -->
  
  </div>