<!DOCTYPE html>
<html lang="en">
  <div class="header">
    
<!-- Start of heading advert -->
<marquee behavior="scroll" direction="left"><font size="+1"> | OpenWeather | Google | Goodkatz |

  </marquee>
  <!-- End of heading advert -->
  
  </div>