{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    About this app
  </h3>
  <p>
    This is weathertopv2 javascript app using glitch and express. The app main function is to record
    weather forecast details. 
  </p>
</section>