{{> menu id="menu"}}


<section class="ui center aligned middle aligned segment>
  <h2 class="ui header">
    {{stationName}}
  </h2>
  
  {{> stationsummary }}
  {{> listreadings }}
  {{> addreading }}
           
</section>